@font-face {
  font-family: 'cervo1';
  src: url('/Assets/Cervo/Cervo-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cervo2';
  src: url('/Assets/Cervo/Cervo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}



/* logo */
.anim {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 10px;
  display: inline-block;
  color: #B00E2F;
}

.key {
  font-size: 3vw;
  display: inline-block;
  font-family: 'cervo1';
  letter-spacing: -4px;
  transition: transform 0.2s;
}

@keyframes pressDown1 {

  30%,
  40%,
  100% {
    transform: translateY(0);
  }

  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown2 {

  70%,
  80%,
  100% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(10px);
  }
}

@keyframes pressDown3 {

  30%,
  40%,
  100% {
    transform: translateY(0);
  }

  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown4 {

  40%,
  50%,
  100% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(10px);
  }
}

@keyframes pressDown5 {

  20%,
  30%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(10px);
  }
}

.key:nth-child(1) {
  animation: pressDown1 2s infinite;
}

.key:nth-child(2) {
  animation: pressDown2 3s infinite;
}

.key:nth-child(3) {
  animation: pressDown3 4s infinite;
}

.key:nth-child(4) {
  animation: pressDown4 2.5s infinite;
}

.key:nth-child(5) {
  animation: pressDown5 2.5s infinite;
}

/* logo */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FEE5CA;
}

.logo {
  width: 160px;
  height: 80px;
  padding: 10px;
  position: fixed;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  background-color: #FEE5CA;
  height: 150vh;
  padding-bottom: 50px;
  border-radius: 70px;
}

.div1 {
  grid-column: span 5 / span 5;
  grid-row: span 2 / span 2;
  background-image: url(/Assets/idli.jpg);
  background-size: cover;
  margin-bottom: 10px;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 1 / span 1;
  grid-row-start: 3;
  background-color: white;
  border-radius: 30px;
  margin-left: 10px;
  text-align: center;
  font-family: 'cervo2';
  color: #B00E2F;
  font-size: 50px;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
  background-color: white;
  border-radius: 30px 30px 30px 50px;
  margin-left: 10px;
  text-align: justify;
}

.div4 {
  grid-column: span 3 / span 3;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 3;
  background-color: white;
  border-radius: 30px 30px 50px 30px;
  margin-right: 10px;
}

.energy-title,
.ingredient-title,
.preperation-title {
  font-family: 'cervo2';
  color: #B00E2F;
  font-size: 40px;
  padding-left: 20px;

}

.energy-list {
  font-family: 'poppins';
  color: black;
  font-size: 20px;
  margin-left: 50px;
  border-collapse: collapse;
  width: 100%;
}

.ingredient-list {
  font-family: 'poppins';
  color: black;
  font-size: 20px;
  padding: 0 20px 0 20px;
}

.steps {
  font-family: 'poppins';
  color: black;
  font-size: 20px;
}

li {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

}




.suggestions {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  height: 90vh;
  background-color: #FEE5CA;
  border-radius: 50px;
  padding-bottom: 50px;
}

.suggestions-title {
  grid-column: span 8 / span 8;
  font-family: 'cervo1';
  text-align: center;
  font-size: 90px;
  color: #B00E2F;
}

.s1 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-row-start: 2;
  background-color: white;
  border-radius: 30px 0 0 30px;
  height: 90%;
  margin-left: 20px;
  justify-content: center;

}

.s2 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 2;
  background-color: white;
  border-radius: 0 30px 30px 0;
  height: 90%;
}

.s3 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 5;
  grid-row-start: 2;
  background-color: white;
  border-radius: 30px 0 0 30px;
  height: 90%;
}

.s4 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 7;
  grid-row-start: 2;
  background-color: white;
  border-radius: 0 30px 30px 0;
  height: 90%;
  margin-right: 20px;
}

.sug1{
  width: 90%;
}






.footer {
  position: absolute;
  top: 235vh;
  height: 100%;
  width: 100%;
  background-color: #B00E2F;
  z-index: -2;
  color: white;
  font-family: 'cervo1';
}

.footer-head {
  position: absolute;
  font-size: 90px;
  top: 12vh;
  width: 100%;
  text-align: center;
}

form {
  position: absolute;
  top: 40vh;
  font-size: 20px;
  font-family: 'poppins';
}

input {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  color: white
}

input:focus {
  border-bottom: 1px dotted white;

}

.feedback {
  width: 90vh;
  position: absolute;
  left: 100px;
}

#name,
#ph,
#email,
#city {
  width: 500px;
  margin: 0px 60px 60px 0px;
}

#subject {
  width: 1100px;
  margin: 0px 60px 60px 0px;
}

#msg {
  width: 1700px;
  margin: 0px 60px 60px 0px;
}

#submit {
  background-color: #B00E2F;
  border: 1px solid white;
  color: white;
  font-family: 'poppins';
  width: 100px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 2px 5px 0 white;

}

#submit:hover {
  color: #B00E2F;
  background-color: white;
  transition: 0.5s ease-in;
}

.footnote a {
  position: absolute;
  bottom: 2vh;
  color: white;
  font-family: 'poppins';
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.footnote a:hover {
  text-decoration: underline;

}

.dropdown{
  background-color: #B00E2F;
  color: white;
  font-family: 'cervo1';
  font-size: 60px;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 360px;
  padding: 80px;
  border-radius: 80px 0 80px 50px;
  display: none;
 
}

.dropdown td:hover{
  color: #FEE5CA;
  transition: 0.3s ease-in;
}

.menu{
  position: absolute;
  top: 30px;
  right:50px;
  background-color: #FEE5CA;
  z-index: 2;
  width: 100px;
  height: 43px;
  font-family: 'poppins';
  font-size: 25px;
  color: #B00E2F;
  text-align: center;
  border: #B00E2F solid 1px;
  
}

.menu:hover{
  background-color: #B00E2F;
  color: #FEE5CA;
  border: #FEE5CA solid 1px;
  transition: 0.5s ease-in
}

.close{
  position: absolute;
  top: 30px;
  right:50px;
  background-color: #B00E2F;
  z-index: 3;
  width: 100px;
  height: 43px;
  font-family: 'poppins';
  font-size: 20px;
  color: #FEE5CA;
  text-align: center;
  border: #FEE5CA solid 1px;
}

.close:hover{
  background-color: #FEE5CA;
  color: #B00E2F;
  border: #B00E2F solid 1px;
  transition: 0.5s ease-in
}
